<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    {% load static %}
    <title>Find Your Rookie</title>
    <link href="{% static 'css/new.css' %}" rel="stylesheet" />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="http://127.0.0.1:8000/">Find Your Rookie</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/back_setting">SETTING</a></li>
                    <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/best11">BEST11</a></li>
                    <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/ranking">RANKING</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead">
        <div class="lb-wrap">
            <div class="lb-st">
                <h3>benzema(age)</h3>
            </div>
            <div class="lb-rw">
                <h3>bale(age)</h3>
            </div>
            <div class="lb-lw">
                <h3>ronaldo(age)</h3>
            </div>
            <div class="lb-cm">
                <h3>modric(age)</h3>
            </div>
            <div class="lb-rm">
                <h3>casemiru(age)</h3>
            </div>
            <div class="lb-lm">
                <h3>kross(age)</h3>
            </div>
            <div class="lb-rwb">
                <h3>marcelo(age)</h3>
            </div>
            <div class="lb-rb">
                <h3>ramos(age)</h3>
            </div>
            <div class="lb-lb">
                <h3>varane(age)</h3>
            </div>
            <div class="lb-lwb">
                <h3>carbajal(age)</h3>
            </div>
            <div class="lb-gk">
                <h3>navas(age)</h3>
            </div>
            <div class="lb-image">
                <img src="{% static 'assets/img/best11-back2.jpg' %}" alt="">
            </div>
        </div>
    </header>
</body>
</html>